<p>Hola!, </p>
<br/>
<p>Este es un recordatorio de que mañana estas anotado un partido</p>
<br/>
<p>Fecha: <%=meeting.when%></p>
<br/>
<p>Lugar: <%=meeting.place%></p>
<br/>
<p>En el siguiente link podrás ver el partido</p>
<p><a href="<%=link%>"><%=link%></a></p>
<br/>
<p>Saludos,<br/><%=signature%></p>
<br/>
<br/>
<p>Demasiados emails?, podes cambiar las notificaciones en <a href="<%=plink%>">tu perfil</a></p>
