<p>Hola!,</p>
<br/>
<p><%=from%> creó un Partido en el grupo <%=meeting.group.title%></p>
<br/>
<p>Fecha: <%=meeting.when%></p>
<br/>
<p>Lugar: <%=meeting.place%></p>
<br/>
<p>En el siguiente link podrás ver el partido y sumarte</p>
<p><a href="<%=link%>"><%=link%></a></p>
<br/>
<p>Saludos,<br/><%=signature%></p>
