<p>Hola!,</p>
<br/>
<p><%=from%> te invitó al grupo <%=group%></p>
<br/>
<p>En el siguiente link podrás ver la invitación:</p>
<p><a href="<%=link%>"><%=link%></a></p>
<br/>
<p>Saludos,<br/><%=signature%></p>